build/
dist/
.DS_Store
*/__pycache__/
buildenv/
venv/
datalad_jupyter.egg-info/
.ipynb_checkpoints/
*.ipynb
.vscode/
*env*/
package-lock.json
datalad_jupyter/labextension/*

*.bundle.*
lib/
node_modules/
*.egg-info/
.ipynb_checkpoints
.yarn